@import 'reset.css';
/* =============================================================================
  BOX SIZING & CLEARFIX
============================================================================= */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* =============================================================================
  BASE
============================================================================= */
/* body */
body {
  color: #787878;
  font-family: 'Source Sans Pro', sans-serif;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 15px;
  line-height: 1.5;
  background:#40417d;
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  -moz-background-size:100% 100%; 
  background-size:100% 100%; 
  font-family: Progress;
}


/* Home page card colors */
.container a {
  text-decoration: none;
  color: #28aadc;

}

.container a:hover {
  color: #166888;
}
a{
  text-decoration: none;
}
strong, b { font-weight: bold; }
em, i { font-style: italic; }
h1{
    padding:15px 0 25px 0;
    text-align:center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size:2.2em;
}
input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}
p.big {
    line-height: 115%;
}

/* =============================================================================
  LAYOUT
============================================================================= */
/* main layout */
/*.wrapper {
  width: 100%;
  margin: 0 auto;
}*/

main {
  display: block;
    background-color: #40417D;
  padding: 20px 0;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

/* primary header */
.header__primary {
  padding: 10px 10px 10px 30px;
}

.header__primary--logo {
  float: left;
  margin-left: -20px;
  width: 20px;
  height: 20px;
}

/* primary nav */
.nav__primary {
  float: right;
  width: 100%;
  text-align: right;
}

.nav__primary--link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;

}
.nav__primary--link.tut {
  background-position: 0 0;
}
.nav__primary--link.prev {
  background-position: -20px 0;
}
.nav__primary--link.next {
  background-position: -40px 0;
}
.nav__primary--link.download {
  background-position: -60px 0;
}
.nav__primary--link.archive {
  background-position: -80px 0;
}

.nav__primary--link:hover:after {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 20px;
  content: attr(data-title);
  padding: 2px 5px;
  background-color: #28aadc;
  color: #fff;
  font-size: 10px;
  white-space: nowrap;
  border-radius: 3px;
}
/* =============================================================================
  DEMO
============================================================================= */
/**
 * Sections
 *
 * Some sections to define card content areas.
 */
.section {
  margin-bottom: 40px;
}

.section__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}

.section__content {
  padding-left: 3px;
}

/**
 * The cards
 *
 * Each card plays home to a front and back. I've set them up as squares here
 * by using the padding technique, but you may set them up in any dimensions
 * you like based on your site design.
 */
.card {
  position: relative;
  float: left;
  padding-bottom: 25%;
  width: 25%;
  text-align: center;
}

.card:nth-child(1) {
  margin-left: -3px;
  margin-right: 1px;
}

.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 1px;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  background-color: #ffcd05;
}

.card__back {
  background-color: #8cc8e9;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  color: #fff;
  font-family: "Roboto Slab", serif;
  line-height: 20px;
}

.card__text2 {
  display: inline-block;
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  font-family: "Roboto Slab", serif;
  line-height: 20px;
}


/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
/*===========================
Header
=============================*/
#wrapper{
    display: center;
    max-width:1500px;
    margin: 0px auto;
    background: #7A7A7A; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #ffcd05); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #ffcd05); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #ffcd05); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #ffcd05); /* Standard syntax */
    padding-right: : 0px;
    max-height: 600px;
    border-bottom: 3px solid;
    border-color: #000000;
}
#wrapper img {
  margin: 0px auto;
  display:block;
}
/*===========================
Nav menu
=============================*/
#menu{
  padding-left: 30px;
  margin-bottom: 50px;
}
#menu .nav{
  color: #000;
  overflow:hidden;
  margin:0 auto;
  width:675px;
  /*padding-left: 150px;*/
  padding-top: 0px;
  line-height: 1;
  /*border: 2px solid black;  */
}
.home{
    background: #8cc8e9;
}
.maps{
    background: #ffcd05;
}
.featuredProjects{
    background: #8cc8e9;
}
.formTeam{
    background: #ffcd05;
}
#menu .nav li:hover{
    opacity:1;
    height:87px;
}
#menu .nav li:hover span{
    padding-top:20px;
    color: white;
}
#menu .nav li span{
    text-align:center;
    display:block;
    padding-top:0px;
    color:rgba(255, 255, 255, 1);
    font-size:0.9em;
    transition:padding-top 0.4s;
    -webkit-transition:padding-top 0.4s;
}
#menu .nav li.home:hover, #menu .nav li.maps:hover, #menu .nav li.featuredProjects:hover, #menu .nav li.formTeam:hover{
    border-bottom:4px solid rgba(0, 0, 0, 1);
}
#menu .nav li{
    width: 155px;
    height: 65px;
    display: inline-block;
    /*float: left;*/
    margin: 0px 2px;
    cursor: pointer;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
/*force changes background?*/
::selection { background: #dcc5ee; color: #313131; }
::-moz-selection { background: #dcc5ee; color: #313131; }
::-webkit-selection { background: #dcc5ee; color: #313131; }

#menu img.icon{
    margin:8px auto;
    display:block;
    padding:0px;
    border-radius:100%;
    background:rgba(255, 255, 255, 0.4);
    transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    box-shadow: 0 0 0 30px rgba(255,255,255,0.1);
    -webkit-box-shadow: 0 0 0 10px rgba(255,255,255,0.1);
}
#menu .nav li:hover img.icon{
    background:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 10px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 0 0 rgba(255,255,255,0.8);
}
/*================================================
Nav titles
==================================================*/
#Menu .nav li span{
    display: block;
    text-align: center;
    padding-top: 0px;
    color: rgba(255, 255, 255, 1);
    font-size: 0.9em;
    transition: padding-top 0.4s;
    -webkit-transition: padding-top 0.4s;
}
/*===============================================
Drop down menu
================================================*/
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
select{
    height: 30px;
    text-indent: 5px;
    /*background-color: blue;*/
}
#changeThis{
    padding-top: 15px;
}
/*===============================================
Map Page!
================================================*/
#map {
  height: 500px;
  width: 600px;
  margin: 0px auto;
  display:block;
}
/*===============================================
Featured Projects
================================================*/
/*  Slide show css.*/

.gallery h1{
  color: #fff;
}
.gallery{
  position: relative;
  max-width: 800px;
  margin: auto;
  max-height: 100vh;
  margin-bottom: 20px;
  overflow: hidden;
}
.images{
  position: relative;
}
.gallery img{
  max-width: 1000px;
  min-height: 700px;
}
.gallery span{
  border-radius: 50%;
  display: inline;
}
.gallery span img{
  -webkit-transition: all ease-out 0.25s;
  -moz-transition: all ease-out 0.25s;
  -o-transition: all ease-out 0.25s;
  transition: all ease-out 0.25s;
}
.gallery span:hover img{
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
.gallery .prev, .gallery .next{
  position: absolute;
  top: calc(50% + 25px);
}
.gallery .prev{
  left: 5px;
}
.gallery .next{
  right: 5px;
}
.gallery figure{
  display: none;
}
.gallery figure.show,.gallery figure.hide{
  display: block;
  position: relative;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.gallery figure.show{
  animation-name: showPicture;
}
.gallery figure.hide{
  position: absolute;
  top:0;
  animation-name: hidePicture;
}
.gallery figure.show.reverse{
  animation-name: showPictureReverse;
}
.gallery figure.hide.reverse{
  animation-name: hidePictureReverse;
}
@keyframes hidePicture {
    from {right: 0;}
    to {right:100%;}
}
@keyframes showPicture {
    from {left: 100%;}
    to {left: 0;}
}
@keyframes hidePictureReverse {
    from {right:100%;}
    to {right: 0;}
}
@keyframes showPictureReverse {
    from {left: 0;}
    to {left: 100%;}
}
.gallery figure{
   margin: auto !important;
}
.gallery figure p{
   position: absolute;
   bottom: 0;
   left: 0;
   right:0;
   background: rgba(255,255,255,0.7);
   padding: 10px 50px;
   color: #aaa;
}
.gallery p {
    padding-top: 50px;
}
#ugh {
  padding: 100px;
}
/*===============================================
projects
================================================*/
/** filters list **/
#filter-list {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    color: #fff;
}

#filter-list li {

  display: inline-block;
  width: auto;
  padding: 6px 10px;
    font-size: 1.2em;
    cursor: pointer;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#filter-list li:hover {
    background: #8CC8E9;
}
#filter-list li.active {
    font-weight: bold;
    background: #8CC8E9;
}


/** portfolio list **/
#portfolio {
    display: block;
  width: 100%;
  padding: 0 12px;
  margin-bottom: 35px;
    text-align: center;
}

#portfolio .item {
    display: none;
    opacity: 0;
    width: 40%;
    vertical-align: top;
    margin-bottom: 25px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    -moz-box-sizing: border-box;
}
#portfolio .item a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  background: #fff;

}
#portfolio .item img {
  padding: 3px;
  max-width: 100%;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.55);
  box-shadow: 0 1px 4px rgba(0,0,0,0.55);
}
/** clearfix **/
/*.clearfix:after { 
  content: "."; 
  display: block; 
  clear: both; visibility: hidden; 
  line-height: 0; height: 0; 
}*/
/*.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

*/
/** media queries **/
@media screen and (max-width: 720px) {
  h1 { font-size: 60px; }
  p { font-size: 12px; }
}

@media screen and (max-width: 500px) {
  h1 { font-size: 35px; }
  p { font-size: 10px; }
  #filter-list { padding: 0 18px; }
  #filter-list li { display: block; margin-bottom: 3px; }
  
  #portfolio { margin-bottom: 20px; }
  #portfolio .item { 
    width: 100%; 
    margin-bottom: 12px; 
    margin-right: 0; }
}